* {
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: black;
}
h1,
h2,
h3,
h4 {
  line-height: 1.2;
}
h1 {
  font-size: 2.25em;
  font-weight: 700;
}
h2 {
  font-size: 1.75em;
  font-weight: 700;
}
h3 {
  font-size: 1.5em;
  font-weight: 500;
}
h4 {
  font-size: 1.35em;
  font-weight: 500;
}

/*images*/
img {
  width: 100%;
}

/*links*/
a {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #000000;
}
a:hover,
a:focus {
  color: #000000;
  text-decoration: underline;
}

a:active {
  /* selected link */
  color: #000000;
}

/*buttons*/
.button {
  display: inline-block;
  background-color: #28ff00;
  color: #ffffff;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #4e8e41;
  transition: 0.2s opacity;
}
.button:hover,
.button.readmore:focus {
  opacity: 0.8;
  text-decoration: none;
}
.button:active {
  background-color: #4e8e41;
  color: #ffffff;
}
.button.readmore {
  color: #ffffff;
}
.button.contact {
  background-color: transparent;
  color: #7bc96b;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px;
  border: 2px solid #7bc96b;
  border-radius: 3px;
  transition: 0.2s opacity;
  margin-bottom: 15px;
}
.button.contact:hover,
.button.contact:focus {
  background-color: #7bc96b;
  color: white;
  text-decoration: none;
}
.button.contact:active {
  background-color: #4e8e41;
  color: #ffffff;
}
/* Layout styling */
/* header styling */
header {
  position: fixed;
  width: 100%;
  background-color: #28ff00;
}
.container {
  padding: 50px;
}
#work .row {
  margin: 25px 15px; /* 25 px top and bottom, 15 left and right */
  padding-bottom: 0px;
  border-bottom: 1px solid #000000;
}
.logo {
  max-width: 50px;
  margin-top: 15px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000000;
}
nav > ul > li > a:active {
  color: #000000;
}
nav {
  display: inline-block;
  width: 100%;
}
/*main styling (start main section below header)*/
main {
  padding-top:0;
}
/* hero styling*/
#hero {
  background-color: #000000;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
#hero h1 {
  text-align: center;
  margin: 0;
}
#hero h2 {
  text-align: center;
  margin: 15px 0;
}
#hero p {
  text-align: center;
}
/* footer styling */
#contact h2 {
  text-align: center;
}
#contact p {
  text-align: center;
}
#work h2 {
  text-align: center;
}
footer p {
  margin-bottom: 10px;
}
.centerMe {
  text-align: center;
}
.linkedin {
  width: 50%;
  float: right;
  text-align: left;
  padding-left: 10px;
}
.behance {
  width: 50%;
  float: left;
  text-align: right;
  padding-right: 10px;
}
.socialmedia::after {
  content: "";
  clear: both;
  display: table;
}
.social {
  max-width: 55px;
}
/* about page styling */
.aboutme h2 {
  text-align: center;
}
.abouttitle {
  text-align: center;
  padding: px 10;
  display: inline-block;
  width: 100%;
}
/* doughbaby styling */
.doughbaby {
  background-color: white;
}
.doughbaby h2 {
  font-weight: 500;
  font-size: 1.75em;
  margin: 40px 0;
}
.doughbaby.intro {
  text-align: center;
  padding: 90px 15px 5px 15px;
  background-color: black;
  color: white;
  display: inline-block;
  width: 100%;
}
